body{
    background-image: url("../Images/classroom.png");
    background-size: cover;

}

#topBar{
    width: 100%;
    height: 150px;
    background: rgba(255, 255, 255, 0.8) ;
}

#login{
    margin-left: 2em;
    font-size: x-large;
}

#logo{
    margin-left: 6em;
}

/*
.logInBox {
    position: absolute;
    background: rgba(0,0,255,0.8) none repeat scroll 0 0;
    color: white;
    width: 100%;
    text-align: right;
    margin-right: ($spacer * .5) !important;
}
*/


/* .fixed-bottom {
    right: 0;
    bottom: 10;
    left: 10;
    background: rgba(0,0,255,0.8) none repeat scroll 0 0;
    z-index: $zindex-fixed;
    margin-left: ($spacer * .5) !important;
    margin-right: ($spacer * .5) !important;
    width: 100px; 
    height: 150px; 
    background-color: rgba(0,0,255,0.1);
} */

