body{
    background-image: url("../Images/classroom.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
 
}
 
 #topBar{
     width: 100%;
     height: auto;
     background: rgba(255, 255, 255, 0.7) ;
 }
 
 #logo{
     margin-left: 6em;
 }
 
 .btn-lg {
    width: 25%;
    height: 150px;
    position: absolute;
    right: 0;
    font-size: 2.5rem;
    background-color: rgba(65,105,225,0.8);
    color: white;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
    border-radius: 0 !important;
    z-index: fixed;
    display: inline-block;
    bottom: 1em;
 } 

 .btn-lg:hover {
     background-color: rgba(61,93,190,0.8);
 }


#imageFilter{
    min-width: 100vh;
    width: 100%;
    min-height: 75vh;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

#loginbuttonA {
    height: 65%;
    font-size: 1.5em;
    left: 5%;
}

#loginbuttonT {
    height: 65%;
    font-size: 1.5em;
    background-color: rgba(114,190,61,0.8);
    left: 37.5%;
}

#loginbuttonT:hover {
    background-color: rgba(92,150,51,0.8);

}

#loginbuttonS {
    height: 65%;
    font-size: 1.5em;
    left: 70%;
    background-color: rgba(44,190,237,0.8);
}

#loginbuttonS:hover {
background-color: rgba(46,171,211,0.8);
}

.bigText{
    font-size: 3em;
}

/* 
Different screen sizes
 */

 @media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    .body {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    #topBar {
        width: 100%;
        height: 6.2em;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    #logo {
        margin-left: 1em;
        width: 30%;
        height: 5em;
        margin-top: 1em;

    }
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    .text-bottom {
        font-size: 0.8em;
        margin-top: 1em;
        
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    #title {
        font-size: 1.8em;
        margin-top: 1em;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    #loginbuttonS {
        height: 60%;
        margin-bottom: 10%;
        font-size: 0.8em;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    #loginbuttonT {
        height: 60%;
        margin-bottom: 10%;
        font-size: 0.8em;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    #loginbuttonA {
        height: 60%;
        margin-bottom: 10%;
        font-size: 0.8em;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    .bigText {
        font-size: 2em;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
.btn-lg {
    width: 8em;
    height: 6em;
    position: absolute;
    right: 0;
    font-size: 1.2em;
    background-color: rgba(65,105,225,0.8);
    color: white;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 90% 0);
    border-radius: 0 !important;
    z-index: fixed;
    display: inline-block;
    bottom: 1em;
 } 

 .btn-lg:hover {
     background-color: rgba(61,93,190,0.8);
 }
}
